///
/// _functions.scss
/// Crerated Mar 28, 2018, 22:29:03
///
/// @author Freddy Barrera
///
/// This partial file has the functions.
///


/// Esta función devuelve la ruta de un archivo que se encuentra dentro del
/// mismo tema.
///
/// @access public
/// @param {String} $font-type   - Tipo de fuentes que se requiere 'header' o
///                                'body'
/// @param {String} $font-weight - Tipo de weight que se requiere 'regular',
///                                'bold' o 'light'
/// @return {String}
@function put-font-url($font-type, $font-weight) {
    $prefix : if($font-type == 'header',
        map-get($nc-fonts-urls, 'header-url-prefix'),
        map-get($nc-fonts-urls, 'body-url-prefix'));
    $font-file-name: if($font-type == 'header',
        map-get($nc-font-header-files-names, $font-weight),
        map-get($nc-font-body-files-names, $font-weight));
    $sufix : map-get($nc-fonts-urls, 'url-sufix');

    @return  $prefix + $font-file-name + $sufix;
}

/// Esta función devuelve el valor de la fuente en em.
/// Es una recomendación de W3C usar como unidad para las fuentes em en vez de
/// px por ello esta función ayuda al hacer la conversión de px a em.
/// http://www.w3schools.com/css/css_font.asp
///
/// @access public
/// @param {Number} $pixeles - El tamaño de la letra en pixeles
/// @return {Number}
@function get-font-em($pixeles) {
    @return (($pixeles / 16px) * 1em);
}

/// Devuelve una cadena con el font-family según sea para el encabezado o el
/// cuerpo.
///
/// @access public
/// @param {String} $type - Tipo de font-family que se requiere 'header' o 'body'
/// @return {String}
@function get-font-family($type) {
    @return map-get($nc-fonts-families, $type);
}

/// Devuelve una cadena con el font-family según sea para el encabezado o el
/// cuerpo.
///
/// @access public
/// @param {String} $type - Tipo de font-family que se requiere 'header' o 'body'
/// @return {String}
@function get-font-weight($type) {
    @return map-get($nc-fonts-weight, $type);
}

/// Devuelve el color de la palette activa es decir dependiendo el tema que este
/// activo será el color.
/// Por ejemplo:
///  primary-color
///
/// @access public
/// @param {String} $type-color - El nombre del color.
/// @return {Color}
@function get-theme-color($type-color) {
    @return map-get(map-get($nc-themes, $nc-theme-active), $type-color);
}

/// Devuelve colores por defecto.
/// Por ejemplo:
///  steel-blue
///
/// @access public
/// @param {String} $color-name - El nombre del color.
/// @return {String}
@function get-layout-color($color-name) {
    @return map-get(map-get($nc-layout-colors, $nc-layout-active), $color-name);
}
