///
/// _variables.scss
/// Creado el Sep 12, 2015, 10:15:03 AM
///
/// @author Freddy Barrera
///
/// Este archivo parcial contiene las configuraciones principales de la
/// plantilla y el tema.
///

///
/// Breakpoints
/// Puntos de ruptura define las resoluciones de las pantallas en las que la
/// plantilla cambiara su disposión, tomando en cuenta que la resolución cambie.
///
$nc-breakpoints : (
  xsmall : 320px,
  small  : 480px,
  medium : 768px,
  large  : 1024px,
  xlarge : 1400px,
) !default;

///
/// Fuentes
/// Para usar una Web Font (por ejemplo de Google) se recomienda incluir la
/// fuente en la carpeta "fuentes" y sí existe ualguna configuración adicional
/// del @font-face  se puede modificar en el archivo parcial
/// "base/_typography.scss"
///
$nc-fonts-families : (
  'header' :  ('Quicksand', Arial, Helvetica, sans-serif),
  'body'   :  ('Oxygen', Arial, Helvetica, sans-serif),
  'source' :  ('Oxygen Mono', 'Courier New', Courier, monospace)
) !default;

$nc-fonts-weight : (
  'header' :  700,
  'body'   :  400
) !default;

///
/// Tema de los componentes.
/// En esta área se definen los colores que usara del tema del componentes.
/// 1. Este color también se emplea para las sombras
$nc-themes : (
    'teal' : (
        'primary-color-dark'   : $md-color-teal-700,
        'primary-color'        : $md-color-teal,
        'primary-color-light'  : $md-color-teal-100,
        'primary-color-text'   : $md-color-white,
        'accent-color'         : $md-color-amber,
        'primary-text-color'   : #212121,
        'secondary-text-color' : #757575,
        'divider-color'        : #bdbdbd, /* 1 */
    ),

    'light-blue' : (
        'primary-color-dark'   : $md-color-light-blue-700,
        'primary-color'        : $md-color-light-blue,
        'primary-color-light'  : $md-color-light-blue-100,
        'primary-color-text'   : $md-color-white,
        'accent-color'         : $md-color-pink,
        'primary-text-color'   : #212121,
        'secondary-text-color' : #757575,
        'divider-color'        : #bdbdbd, /* 1 */
    ),

    'nc' : (
        'primary-color'        : #2b83cb,
        'primary-color-dark'   : #00579a,
        'primary-color-light'  : #6ab2ff,
        'primary-color-text'   : $md-color-white,
        'accent-color'         : #fe564f,
        'primary-text-color'   : $md-color-grey-900,
        'secondary-text-color' : $md-color-grey-600,
        'divider-color'        : rgba($md-color-grey-600, 0.38), /* 1 */
    ),
) !default;

/// Esta varible indica un tema para los componentes como valor predefinido,
/// normalmente su valor se define en el archivo theme.sccs
$nc-theme-active : 'nc' !default;

$nc-colores-indicativos : (
    'color-informacion' : $md-color-blue,
    'color-exitoso'     : rgb(102, 187, 106),
    'color-advertencia' : $md-color-amber-a400,
    'color-error'       : rgb(239, 83, 80),
    'color-peligro'     : $md-color-red-800,
    'color-cerrar'      : $md-color-red-700,
) !default;

$nc-layout-colors : (
    'light' : (
      'app-bar'          : $md-color-grey-100,
      'background'       : $md-color-grey-50,
      'cards-background' : $md-color-white,
      'footer-bar'       : $md-color-grey-300,
    ),

    'dark' : (
      'app-bar'          : $md-color-grey-900,
      'background'       : rgb(48, 48, 48),
      'cards-background' : $md-color-grey-800,
      'footer-bar'       : $md-color-black,
    ),
);

$nc-layout-active : 'light' !default;

$nc-images-URLs : (
    'implementer-url-prefix' : '',
    'theme-url-prefix' : '',
    'url_sufix' : '',
);

///
/// Define el radio de los bordes.
///
$nc-border-radius-size : (
    'xsmall' :  0px,
    'small'  :  3px,
    'medium' :  6px,
    'large'  :  12px,
    'shadow' :  8px
);
