
<div id="main-footer--content">
  <div class="legend"> <span>{{ site.title | escape }}</span></div>

  <ul class="social-media-list">
    {% if site.gitlab_username %}<li><a href="https://gitlab.com/{{ site.gitlab_username| cgi_escape | escape }}"><i class="fab fa-gitlab" aria-hidden="true"></i> <span class="username">{{ site.gitlab_username| escape }}</span></a></li>{% endif %}
    {% if site.twitter_username %}<li><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><i class="fab fa-twitter"></i> <span class="username">{{ site.twitter_username| escape }}</span></a></li>{% endif %}
  </ul>
</div>
