{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

<div class="logo">
  <a href="/">
    <img src="{{ "/assets/img/fb-logo.png" | prepend: site.baseurl }}" alt="{{ site.title | escape }}">
  </a>
  <button id="btn-menu">
    <i class="btn-menu--icon fas fa-bars"></i>
  </button>
</div>
<nav id="main-links">
  <a href="/"><i class="fas fa-home" aria-hidden="true"></i> Inicio</a>
  <a href="/about.html"><i class="fas fa-user" aria-hidden="true"></i> Acerca de</a>
  <a href="/portfolio/index.html"><i class="fas fa-briefcase" aria-hidden="true"></i> Portafolio</a>
  <a href="{{ "/" | relative_url }}"><i class="fas fa-database" aria-hidden="true" title="Knowledge base"></i> KB</a>
</nav>
<nav id="topics-menu" class="topics-menu__hide">
  <a href="{{ "topics/java-core.html" | relative_url }}">Java</a>
  <a href="{{ "topics/java-web-services.html" | relative_url }}">Java Web Services</a>
  <a href="{{ "topics/spring.html" | relative_url }}">Spring Framework</a>
  <a href="{{ "topics/sql.html" | relative_url }}">SQL</a>
</nav>
