<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <div class="container">
      <header id="main-header">
        {% include header.html %}
      </header>
      <main id="main-content">
          {{ content }}
      </main>
      <footer id="main-footer">
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>
